@media screen and (min-width: 641px) and (max-width: 960px) {
    
    nav {
        margin-top: -5em;
        position: static;
        text-decoration: none;
        

    }

    nav ul li {
        display: inline-block; /*This lists items horizontally and allows them to stretch.*/
        border-radius: 1em;
        box-shadow: 0.5em 0.5em 0.5em black;
        /*min-width: 12%;*/
        background-image: rgb(212, 212, 212);
    }

    .desktop {
        display:none;
    }





}